[Unit]
Description=polkit-agent (MATE)
PartOf=graphical-session.target

[Service]
ExecStart=/usr/libexec/polkit-mate/polkit-mate-authentication-agent-1
Restart=on-failure